/* Reset default */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
	border: none;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	line-height: 1.5;
	font-family: 'Norse Bold', sans-serif;
	overflow-y: hidden;
}

a {
	text-decoration: none;
}

button {
	display: flex;
	flex-direction: row;
	padding: 7px 9px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background-color: #4caf50;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	box-shadow: rgb(0 0 0 / 16%) 0px 0px 6px, rgb(0 0 0 / 23%) 0px 0px 6px;
}

:root {
	--primary-color: #1992d4;
	--secondary-color: #f0b429;
	--tertiary-color: #e2e8f0;
	--main-text-color: #000000;
	--secondary-text-color: #ffffff;
	--input-focus-border-color: #2e5bdb;
	--input-error-border-color: #d16868;
	--box-shadow-color: #e8e9e9;
}

/* Nav Start */

.nav {
	position: relative;
	display: flex;
	height: 72px;
	align-items: center;
	flex-direction: row;
	box-shadow: rgb(0 0 0 / 16%) 0px 0px 6px, rgb(0 0 0 / 23%) 0px 0px 6px;
}

.nav .logo,
.auth {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 50%;
	height: 100%;
	padding: 0px 27px;
}

.nav .logo {
	justify-content: flex-start;
}

.nav .logo a {
	font-size: 36px;
	font-weight: bolder;
}

.nav .auth {
	justify-content: flex-end;
}

.nav .auth button {
	margin-left: 15px;
}

.nav .auth button:hover {
	background-color: #3e8e41;
}

.nav .auth button:active {
	background-color: #2c6829;
}

/* Game styles starts here */

.game-container .players {
	margin-top: 54px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.game-container .players label {
	margin-right: 10px;
}

.game-container .players input[type='text'] {
	padding: 5px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid #ccc;
	margin-right: 15px;
}

.game-board {
	display: flex;
	justify-content: center;
	margin-top: 18px;
	height: 300px;
}

.game-board table {
	border-collapse: collapse;
	border: 1px solid #ccc;
}

.game-container .player-display-name {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.game-container .player-display-name .current-player {
	font-size: 20px;
	font-weight: bold;
}

.game-container td {
	width: 117px;
	height: 99px;
	text-align: center;
	vertical-align: middle;
	font-size: 48px;
	font-weight: bold;
	border: 1px solid #ccc;
	cursor: pointer;
	background-color: var(--tertiary-color);
}

.game-container td:hover {
	background-color: #f5f5f5;
}

.game-container td:active {
	background-color: #e0e0e0;
}

.game-container .message {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 27px;
	font-weight: bolder;
	align-items: center;
}

.game-container .message p {
	margin-right: 27px;
}

.game-container .message button {
	display: none;
}
